/***************************************************************************************************/
/*                                      変数宣言                                                   */
/***************************************************************************************************/
:root{
    
    
    /*==========================================================*/
    /* 共通系                                                   */
    /*==========================================================*/
    
    

    
    
    /*==========================================================*/
    /* フレーム                                                 */
    /*==========================================================*/
    
    

    
    /*==========================================================*/
    /* 登録モードボタン                                         */
    /*==========================================================*/
    
    
    /*--------------------------------------*/
    /* 登録モードボタン                     */
    /*--------------------------------------*/
    
    
    --CompanyEvaluationScreen-Technology-Head-background : var(--common-Technology-color);
    
    --CompanyEvaluationScreen-Practical-Head-background : var(--common-Practical-color);
    
    /*
    --CompanyEvaluationScreen-Footer-Frame-height : 100px;
    */
}

/***************************************************************************************************/
/*                                      会社評価画面                                               */
/*                                    [CompanyEvaluationScreen]                                    */
/***************************************************************************************************/


/*==========================================================*/
/* 技術系                                                   */
/*==========================================================*/

/*--------------------------------------*/
/* 技術系ヘッダ                         */
/*--------------------------------------*/
.CompanyEvaluationScreen-Technology-Head{
    
    background : var(--CompanyEvaluationScreen-Technology-Head-background);
    
}

/*==========================================================*/
/* 実務系                                                   */
/*==========================================================*/

/*--------------------------------------*/
/* 実務系ヘッダ                         */
/*--------------------------------------*/
.CompanyEvaluationScreen-Practical-Head{
    
    background : var(--CompanyEvaluationScreen-Practical-Head-background);
    
}

.CompanyEvaluationScreen-Self-Evaluation-Button{
    
    width  : 400px;
    height : 50px ;
    
}

.CompanyEvaluationScreen-Self-Evaluation-Button-Text{
    
}



