/***************************************************************************************************/
/*                                      変数宣言                                                   */
/***************************************************************************************************/
:root{
    





}

.EvaluationPerformScreen-Company-Evaluation-Button{
    
    height : var(--Table-Data-Even-height);
    width  : 100px;
    
}




.EvaluationPerformScreen-Self-Evaluation-Button{
    
    height : var(--Table-Data-Even-height);
    width  : 100px;
    
}












































