/***************************************************************************************************/
/*                                      変数宣言                                                   */
/***************************************************************************************************/
:root{
    
    /*--------------------------------------*/
    /* 選択画面                             */
    /*--------------------------------------*/
    --Basis-Button-Frame-height : 700px;
    
    
    
}

/***************************************************************************************************/
/*                                      選択画面                                                   */
/*                                 [SelectScreenModel]                                             */
/***************************************************************************************************/

/*--------------------------------------*/
/* 基本ボタンフレーム                   */
/*--------------------------------------*/
#Basis-Button-Frame{
    
    width    : var(--Maine-Frame-width)           ;
    height   : var(--Basis-Button-Frame-height)   ;
    
    padding-top  : calc(calc( var(--Maine-Frame-height) - var(--Basis-Button-Frame-height) ) / 2);
    position     : relative;
    
    /*
    position : absolute                           ;
    top      : calc(var(--Maine-Frame-height) / 2);
    */
}

/*--------------------------------------*/
/* 基本ボタン                           */
/*--------------------------------------*/
.Select-Screen-Basis-Button{
    
    width            : 400   ;
    height           : 100   ;
    border-radius    : 1vh   ;
    
}

.Select-Screen-Basis-Button-Text{
    
    font-size        : 25    ;
    
}

.Select-Screen-Basis-Button-Event{
    
    
    
}

